<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	Download this file to 'ProximityKit.plist' in your project folder, then drag it into Xcode to configure the library.
-->
<dict>
	<key>PKKitName</key>
	<string>ZB</string>
	<key>PKUserIdentifier</key>
	<string>770</string>
	<key>PKUserEmail</key>
	<string>padams@weblinc.com</string>
	<key>PKGlobalUserIdentifier</key>
	<string>1179</string>
	<key>PKAPIToken</key>
	<string>61feb335665cb2f067beaa476201a0b29a2dfa56941133b54040b6d2c26cb027</string>
	<key>PKKitURL</key>
	<string>http://proximitykit.com/api/kits/1035</string>
	<key>PKMapURL</key>
	<string>http://proximitykit.com/api/maps/364</string>
	<key>PKMapName</key>
	<string>ZB Clients</string>
</dict>
</plist>
